{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section id="">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Username) }}
        {{ form_row(registrationForm.Nom) }}
        {{ form_row(registrationForm.Prenom) }}
        {{ form_row(registrationForm.Age) }}
        {{ form_row(registrationForm.Email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</section>    
{% endblock %}
