{% extends 'base.html.twig' %}

{% block title %}Hello PrendreRDVController!{% endblock %}

{% block body %}
    <section id="post">
        <div>
            <h2>Recherche Votre Médecine ou spécialise</h2>   
        </div>
    </section>
    <section id="post2">

     {% for user in users %}

        <div class="bloc-rdv">
            <div class="img_profil">
                {# <img id ="photo_profil" src="{{ asset('images/uploads/' ~ app.user.image) | imagine_filter('my_thumb')}}" alt="{{ app.user.image }}"> #}
            </div>
           
                
            
            <div class="nom_profil">
                    <div>
                        <h2>Doctor - {{app.user.Nom}} {{app.user.Prenom}} </h2>
                         <div class="tre"></div>
                        <p>Specialise :  <p>
                         <div class="tre"></div>
                        <p>Contacte :{{ app.user.Email}}<p>
                         <div class="tre"></div>
                        <p>Contacte :{{ app.user.adresse}}<p>
                         <div class="tre"></div>
                    </div>
                 
            </div>
            <div class="btn-rdv">
                   <div class="btn-1">
                        <a href=""><button >PrendreRDV</button></a>
                    </div>
            </div>
        </div>
    </section>
    {% endfor %}    
{% endblock %}
