{% extends 'base.html.twig' %}

{% block title %}Beinvenu Votre Profil{% endblock %}

{% block body %}
    <section id="profil">
        <div class="bloc-profil">
            <div class="image-perso">
                <div class="blog-pserso">        
                    <img src="" alt="">
                </div>       
                    <a href=""><button class="btn-2">Uploade</button></a>
            </div>
            <div class="datauser">
                <div class="datauser2">
                    <p>Nom : {{app.user.Nom}}</p>
                    <div class="tre"></div>
                    <P>Prenom : {{app.user.Prenom}}</p>
                    <div class="tre"></div>
                {# {% if not app.roles.roles_pro %}                 #}
                    <p>Age : {{app.user.age}}</p>
                    <div class="tre"></div>
                 {# {% else %}
                    <p>Specialité : {{app.Specialite.nom_specialité}}</p>
                    <p>Date Inscrition : {{app.Specialite.creat_at}}</p>
                {% endif %}     #}
                    <p>Mail : {{app.user.email}}</p>
                    <div class="tre"></div>
                    <p>Telephone : {{app.user.Telephone}} <p>
                     <div class="tre"></div>
                    <p>Adresse : {{app.user.Adress}} <p>
                    <div class="bloc-btn">
                        <a target="__blank" href="{{ path('app_update_profil')}}"><button class="btn-2">Modifier</button></a>
                        <a target="__blank" href="{{ path('app_admin')}}"><button class="btn-2">Admin</button></a>
                       
                    </div>
                </div>    
                 
            </div>
           
        </div>
    </section>
{% endblock %}
